<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.luck.prize.mapper.MeetingUserMapper">


    <select id="selectUser" resultType="com.luck.prize.bean.MeetingUserBean">
          select id,image,thumb_image,name from meeting_user where id not in (select  id from meeting_prize)
    </select>

</mapper>

