<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.luck.prize.mapper.PrizeMapper">

    <select id="selectPrize" resultType="com.luck.prize.bean.PrizeBean">
        select title,level,image from prize where type = #{type} order by level desc ;
    </select>

</mapper>

